<h1 class="byline2" id="byline2"> The Stock Watchlist</h1>

<div class="card center" style="width: 18rem;">
  <img src="<%= @stocks.logo %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= @stocks.name %></h5>
    <p class="card-text">Description: <%= @stocks.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><p> CEO: <%= @stocks.ceo %> </p></li>
    <li class="list-group-item"><p> PRICE: <%= @stocks.price %></p></li>
    <li class="list-group-item"><p> Ticker: <%= @stocks.ticker %></li>
  </ul>
  </div>
<form action="/watchlists" class="center2" method="POST">
      <p> Pick the Watchlists that you want to add <%= @stocks.name %> to:</p>
      <input type="hidden" id="title_<%=@stocks.id%>" name="watchlist[stock][id]" value="<%= @stocks.id %>"><br>
      <input type="hidden" id="title_<%= @stocks.name%>" name="watchlist[stock][name]" value="<%= @stocks.name %>"><br>
      <input type="hidden" id="title_<%=@stocks.price%>" name="watchlist[stock][price]" value="<%= @stocks.price %>"><br>
      <input type="hidden" id="title_<%=@stocks.ticker%>" name="watchlist[stock][ticker]" value="<%= @stocks.ticker %>"><br>
      <input type="hidden" id="title_<%=@stocks.logo%>" name="watchlist[stock][logo]" value="<%= @stocks.logo %>"><br>
      <input type="hidden" id="title_<%=@stocks.ceo%>" name="watchlist[stock][ceo]" value="<%= @stocks.ceo %>"><br>
      <input type="hidden" id="title_<%=@stocks.description %>" name="watchlist[stock][description]" value="<%= @stocks.description %>"><br>


          <label><%= @current_id.name %></label>
          <input type="checkbox" id="title_<%=@current_id.id%>" name="watchlist[id][]" value="<%= @current_id.id %>"><br>
          <input type="hidden" id="title_<%=@current_id.name%>" name="watchlist[name]" value="<%= @current_id.name %>">

    <button type="submit" class="btn btn-primary">Add Stock</button>
</form>


<a href="stocks/new" class="center2"> Search for a different Stock </a>
